<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
	 form{
		box-shadow:0 0 10px #777777;
		position:relative;
		left:35%;
		top:10rem;
		padding: 2rem;
		height:50%;
		width:30%;
		border-radius: 1rem;
		box-sizing: border-box;
	}
	 .logo{
		 height:4rem;
		width:6rem;
		margin-left:40%;
	}
	</style>
	<body>

	<form>
	   <img class="logo" src = "img/Untitled-2.png" >
		<div class="form-group">
			<label for="exampleInputEmail1">Username</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="name">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
		</div>
		<button type="submit" class="btn btn-default" ng-click="log()">Login</button>
	</form>		
	
	</body>
</html>