<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Instruction</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
	   
			<div class="container">
			   <div class="jumbotron" style="height:1000px;">
							<h2>Instructions</h2>
				<p>Contents Contents Contents Contents Contents Contents Contents Contents Contents Contents
				   Contents Contents Contents Contents Contents Contents Contents Contents Contents Contents
				   Contents Contents Contents Contents Contents
				</p>
				<p><a class="btn btn-primary btn-lg" role="button">
					Back to Home</a>
				</p>
			</div>
		</div>
			</body>
</html>